In [ ]:
'''
Abhijeet Das/A5/DS
DT: 12.04.2021
'''

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Import dataset

url = "https://raw.githubusercontent.com/akaakselabhijeet/Data-Science-Datasets-Ver.01/main/India_Data/India%20Election%20Dataset%201.csv"
df = pd.read_csv(url)

In [ ]:
#Verify it

print(df.head(5))

           State Constituency  ... VotePercent  TotalElectors
0      Telangana     ADILABAD  ...   35.468248        1489790
1      Telangana     ADILABAD  ...   29.964370        1489790
2      Telangana     ADILABAD  ...   29.534285        1489790
3      Telangana     ADILABAD  ...    1.225214        1489790
4  Uttar Pradesh         AGRA  ...   56.464615        1937690

[5 rows x 19 columns]

In [ ]:
#Histogram for 'TotalVotes' Col

df['TotalVotes'].plot.hist()

In [ ]:
#Scatter plot: 'Age' vs 'TotalVotes'

df.plot.scatter(x='Age', y='TotalVotes', title='Age vs TotalVotes')

In [ ]:
#Bar plot for category column sorted by its values

df['Category'].value_counts().sort_index().plot.bar()

In [ ]:
#Simple square plots

x = np.arange(1, 7)
print(x)

[1 2 3 4 5 6]

In [ ]:
plt.plot(x, x**2)
plt.show()

In [ ]:
plt.scatter(x, x**2)

In [ ]:
#THE END