In [304]:
# ABHIJEET DAS
# DATA SCIENCE ASSIGNMENT 7
# APRIL 29, 2021

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.impute import MissingIndicator
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [305]:
# import dataset
# for dataset, check my repo

url = "https://raw.githubusercontent.com/akaakselabhijeet/Data-Science-Datasets-Ver.01/main/India_Data/India%20Election%20Dataset%201.csv"
ls = pd.read_csv(url)
print(ls.head(5))

           State Constituency  ... VotePercent  TotalElectors
0      Telangana     ADILABAD  ...   35.468248        1489790
1      Telangana     ADILABAD  ...   29.964370        1489790
2      Telangana     ADILABAD  ...   29.534285        1489790
3      Telangana     ADILABAD  ...    1.225214        1489790
4  Uttar Pradesh         AGRA  ...   56.464615        1937690

[5 rows x 19 columns]

In [306]:
#Cloning dataframe

ls1 = ls.copy()
ls2 = ls.copy()
ls3 = ls.copy()

print(ls3.head(5))

           State Constituency  ... VotePercent  TotalElectors
0      Telangana     ADILABAD  ...   35.468248        1489790
1      Telangana     ADILABAD  ...   29.964370        1489790
2      Telangana     ADILABAD  ...   29.534285        1489790
3      Telangana     ADILABAD  ...    1.225214        1489790
4  Uttar Pradesh         AGRA  ...   56.464615        1937690

[5 rows x 19 columns]

In [307]:
#Drop null valued columns

ls1 = ls1.dropna(axis=1)
print(ls1.head(5))

           State Constituency  ... VotePercent  TotalElectors
0      Telangana     ADILABAD  ...   35.468248        1489790
1      Telangana     ADILABAD  ...   29.964370        1489790
2      Telangana     ADILABAD  ...   29.534285        1489790
3      Telangana     ADILABAD  ...    1.225214        1489790
4  Uttar Pradesh         AGRA  ...   56.464615        1937690

[5 rows x 11 columns]

In [308]:
#Drop null valued rows

ls2 = ls2.dropna(axis=0)
print(ls2.head(5))

           State Constituency  ... VotePercent  TotalElectors
0      Telangana     ADILABAD  ...   35.468248        1489790
1      Telangana     ADILABAD  ...   29.964370        1489790
2      Telangana     ADILABAD  ...   29.534285        1489790
4  Uttar Pradesh         AGRA  ...   56.464615        1937690
5  Uttar Pradesh         AGRA  ...   37.999125        1937690

[5 rows x 19 columns]

In [309]:
# iterating over the columns

for col in ls3.columns:
    print(col)

State
Constituency
Name
Winner
Party
Symbol
Gender
CriminalCases
Age
Category
Education
Assets
Liabilities
GenVotes
PostalVotes
TotalVotes
ElectorsPercent
VotePercent
TotalElectors

In [312]:
#finding mean values

ls4 = ls
mn = ls4['Age'].mean()
print("Mean Age Value: ",mn)
print("\n")

# fill NaN values with column mean

ls3['Age'].fillna(value=mn, inplace=True)
print(ls3['Age'].head(5))

Mean Age Value:  52.27353815659068


0    52.000000
1    54.000000
2    52.000000
3    52.273538
4    58.000000
Name: Age, dtype: float64

In [315]:
#cloning with selected cols

ls5 = ls[['Age','TotalVotes','PostalVotes']].copy()
print(ls5.head(6))

    Age  TotalVotes  PostalVotes
0  52.0      377374          482
1  54.0      318814          149
2  52.0      314238          181
3   NaN       13036            6
4  58.0      646875         2416
5  47.0      435329         1130

In [316]:
#Checking if there is any null NaN values

print(ls5[ls5.isna().any(axis=1)])
print(ls5.isna())

      Age  TotalVotes  PostalVotes
3     NaN       13036            6
14    NaN       14719          139
39    NaN       21175           28
46    NaN       15505          194
54    NaN       16468           41
...   ...         ...          ...
2225  NaN       17292          205
2230  NaN       16646           20
2235  NaN       29501           33
2241  NaN       18801           37
2262  NaN       11140            2

[245 rows x 3 columns]
        Age  TotalVotes  PostalVotes
0     False       False        False
1     False       False        False
2     False       False        False
3      True       False        False
4     False       False        False
...     ...         ...          ...
2258  False       False        False
2259  False       False        False
2260  False       False        False
2261  False       False        False
2262   True       False        False

[2263 rows x 3 columns]

In [317]:
#SimpleImputer module usage:
#Fill all the null Age values with mean of Age in ls5 using SimpleImputer module.

imputer = SimpleImputer(strategy ='mean')
imputer = imputer.fit(ls5[['Age']])
ls5['Age'] = imputer.transform(ls5[['Age']])

print(ls5[['Age']].head(5))
print(ls5.head(5))

         Age
0  52.000000
1  54.000000
2  52.000000
3  52.273538
4  58.000000
         Age  TotalVotes  PostalVotes
0  52.000000      377374          482
1  54.000000      318814          149
2  52.000000      314238          181
3  52.273538       13036            6
4  58.000000      646875         2416

In [318]:
#Checking again if there is any null NaN values

print(ls5[ls5.isna().any(axis=1)])
print(ls5.isna())

Empty DataFrame
Columns: [Age, TotalVotes, PostalVotes]
Index: []
        Age  TotalVotes  PostalVotes
0     False       False        False
1     False       False        False
2     False       False        False
3     False       False        False
4     False       False        False
...     ...         ...          ...
2258  False       False        False
2259  False       False        False
2260  False       False        False
2261  False       False        False
2262  False       False        False

[2263 rows x 3 columns]

In [320]:
#polynomial feature set from ls5 with degree 3. Concatenate the feature set
#with ls5 and create a new data frame ls6.

polynm = PolynomialFeatures(degree=3)
ls6 = pd.DataFrame(polynm.fit_transform(ls5))
print(ls6.head(5))
ls6 = pd.concat([ls5,ls6])
print(ls6.head(5))

    0          1         2   ...            17            18            19
0  1.0  52.000000  377374.0  ...  6.864217e+13  8.767304e+10  1.119802e+08
1  1.0  54.000000  318814.0  ...  1.514471e+13  7.077990e+09  3.307949e+06
2  1.0  52.000000  314238.0  ...  1.787294e+13  1.029475e+10  5.929741e+06
3  1.0  52.273538   13036.0  ...  1.019624e+09  4.692960e+05  2.160000e+02
4  1.0  58.000000  646875.0  ...  1.010969e+15  3.775846e+12  1.410233e+10

[5 rows x 20 columns]
    0   1   2   3   4   5  ...  17  18  19        Age  PostalVotes  TotalVotes
0 NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN  52.000000        482.0    377374.0
1 NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN  54.000000        149.0    318814.0
2 NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN  52.000000        181.0    314238.0
3 NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN  52.273538          6.0     13036.0
4 NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN  58.000000       2416.0    646875.0

[5 rows x 23 columns]

In [321]:
# A new copy of main dataframe

ls7 = ls.copy()
print(ls7.head(8))

           State Constituency  ... VotePercent  TotalElectors
0      Telangana     ADILABAD  ...   35.468248        1489790
1      Telangana     ADILABAD  ...   29.964370        1489790
2      Telangana     ADILABAD  ...   29.534285        1489790
3      Telangana     ADILABAD  ...    1.225214        1489790
4  Uttar Pradesh         AGRA  ...   56.464615        1937690
5  Uttar Pradesh         AGRA  ...   37.999125        1937690
6  Uttar Pradesh         AGRA  ...    3.940979        1937690
7    Maharashtra   AHMADNAGAR  ...   58.425159        1861396

[8 rows x 19 columns]

In [322]:
#Checking again if there is any null NaN values

ls8 = ls7[['Age']]

print(ls8[ls8.isna().any(axis=1)])
print(ls8.isna())
print(ls8.head(5))

      Age
3     NaN
14    NaN
39    NaN
46    NaN
54    NaN
...   ...
2225  NaN
2230  NaN
2235  NaN
2241  NaN
2262  NaN

[245 rows x 1 columns]
        Age
0     False
1     False
2     False
3      True
4     False
...     ...
2258  False
2259  False
2260  False
2261  False
2262   True

[2263 rows x 1 columns]
    Age
0  52.0
1  54.0
2  52.0
3   NaN
4  58.0

In [324]:
# Replace all the null values in Gender and Category columns using the default value
#‘Missing’.

imputer = SimpleImputer(strategy='constant', fill_value='MISSING')
imputer2 = SimpleImputer(strategy='constant', fill_value=0)

ls7['Gender'] = imputer.fit_transform(ls7[['Gender']])
ls7['Category'] = imputer.fit_transform(ls7[['Category']])
ls7['Age'] = imputer2.fit_transform(ls7[['Age']])

In [325]:
#Checking again if there is any null NaN values

ls8 = ls7[['Age']]

print(ls8[ls8.isna().any(axis=1)])
print(ls8.isna())
print(ls8.head(5))

Empty DataFrame
Columns: [Age]
Index: []
        Age
0     False
1     False
2     False
3     False
4     False
...     ...
2258  False
2259  False
2260  False
2261  False
2262  False

[2263 rows x 1 columns]
    Age
0  52.0
1  54.0
2  52.0
3   0.0
4  58.0

In [326]:
#Again comparing values

print(ls7[['Gender']].head(8))
print(ls[['Gender']].head(8))

    Gender
0     MALE
1     MALE
2     MALE
3  MISSING
4     MALE
5     MALE
6   FEMALE
7     MALE
   Gender
0    MALE
1    MALE
2    MALE
3     NaN
4    MALE
5    MALE
6  FEMALE
7    MALE

In [327]:
# Creating ls13 for later concat use

ls13 = ls7.copy()

In [328]:
# Ordinal Encoder:

enco = OrdinalEncoder()
enco.fit(ls7[["Gender"]])
ls7[["Gender"]] = enco.transform(ls7[["Gender"]])
print("operation successful...")

operation successful...

In [329]:
#Comparing different outputs

print(ls7[['Gender']].head(8))
print(ls[['Gender']].head(8))

   Gender
0     1.0
1     1.0
2     1.0
3     2.0
4     1.0
5     1.0
6     0.0
7     1.0
   Gender
0    MALE
1    MALE
2    MALE
3     NaN
4    MALE
5    MALE
6  FEMALE
7    MALE

In [330]:
# checking the category column

print(ls7[['Category']].head(10))
print(ls7[['Gender']].head(10))

  Category
0       ST
1       ST
2       ST
3  MISSING
4       SC
5       SC
6       SC
7  GENERAL
8  GENERAL
9  GENERAL
   Gender
0     1.0
1     1.0
2     1.0
3     2.0
4     1.0
5     1.0
6     0.0
7     1.0
8     1.0
9     1.0

In [331]:
# Applying One-Hot_Encoder

ohe = OneHotEncoder()

ohe_df = pd.DataFrame(ohe.fit_transform(ls7[['Category']]).toarray())
print(ohe_df.head(15))

      0    1    2    3
0   0.0  0.0  0.0  1.0
1   0.0  0.0  0.0  1.0
2   0.0  0.0  0.0  1.0
3   0.0  1.0  0.0  0.0
4   0.0  0.0  1.0  0.0
5   0.0  0.0  1.0  0.0
6   0.0  0.0  1.0  0.0
7   1.0  0.0  0.0  0.0
8   1.0  0.0  0.0  0.0
9   1.0  0.0  0.0  0.0
10  1.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0
12  0.0  0.0  1.0  0.0
13  0.0  0.0  1.0  0.0
14  0.0  1.0  0.0  0.0

In [332]:
#Concat Operation (including major outputs)

ls10 = ls[['Gender']] # original column
ls13 = ls13[['Gender']] # imputed(missing-tagged) column
ls11 = ls7[['Category']] # imputed category column
horizontal_stack = pd.concat([ls10, ls13, ls11, ohe_df], axis=1)

print(horizontal_stack.head(21))

    Gender   Gender Category    0    1    2    3
0     MALE     MALE       ST  0.0  0.0  0.0  1.0
1     MALE     MALE       ST  0.0  0.0  0.0  1.0
2     MALE     MALE       ST  0.0  0.0  0.0  1.0
3      NaN  MISSING  MISSING  0.0  1.0  0.0  0.0
4     MALE     MALE       SC  0.0  0.0  1.0  0.0
5     MALE     MALE       SC  0.0  0.0  1.0  0.0
6   FEMALE   FEMALE       SC  0.0  0.0  1.0  0.0
7     MALE     MALE  GENERAL  1.0  0.0  0.0  0.0
8     MALE     MALE  GENERAL  1.0  0.0  0.0  0.0
9     MALE     MALE  GENERAL  1.0  0.0  0.0  0.0
10    MALE     MALE  GENERAL  1.0  0.0  0.0  0.0
11  FEMALE   FEMALE  GENERAL  1.0  0.0  0.0  0.0
12    MALE     MALE       SC  0.0  0.0  1.0  0.0
13    MALE     MALE       SC  0.0  0.0  1.0  0.0
14     NaN  MISSING  MISSING  0.0  1.0  0.0  0.0
15    MALE     MALE       SC  0.0  0.0  1.0  0.0
16    MALE     MALE  GENERAL  1.0  0.0  0.0  0.0
17    MALE     MALE  GENERAL  1.0  0.0  0.0  0.0
18    MALE     MALE       SC  0.0  0.0  1.0  0.0
19    MALE     MALE       SC  0.0  0.0  1.0  0.0
20    MALE     MALE  GENERAL  1.0  0.0  0.0  0.0

In [334]:
# THE END
# THANK YOU